
<div class="row" >
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- queryParams e.g ?, fragment e.g id tag #loading -->
      <a
        [routerLink] = "['/servers', server.id]" 
        [queryParams] = "{allowEdit: server.id === 3? '1' : '0'}"   
        fragment = "Loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <button class="btn btn-primary mt-2 mb-2" (click)="reload()">Reload</button>
    <app-edit-server></app-edit-server>
    <hr> -->
    <!-- <app-server></app-server> -->
  </div>
</div>

